.App {
  text-align: center;
}
a { text-decoration: none; } 
a:hover { text-decoration: none; } 


/*header*/
.AppHeader {
  background-color: #222;
  height: 120px;
  padding: 10px;
  color: white;

}

.AppLogo {
  animation: AppLogo-spin infinite 20s linear;
  height: 80px;

}
@keyframes AppLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Search-hospital {
  margin-left: 5px;
  margin-right: 5px;
}



/*Intro*/

.App-intro {
  font-size: large;
  padding: 20px;
}
.IntroHead {
  position: float;
  padding-top: 25px;
}
.IntroHead .Intro-result {
  float: left;
  font-size: 13px;
}
.IntroHead .Intro-doctor-hospital {
  float: right;

}


/*docList*/
.docList {
  position: float;
  padding-top: 50px;

}
.docItem {
  float:left;
  border: 1px solid #eee;
  padding: 9px;
  margin: 10px;
}

.docItem img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.docItem .hosName {
  color: #a28a8a;
  font-size: 14px;

}

.docItem .yelpText {
  color: #a28a8a;
  /*font-size: 14px;*/

}

/*.doctorItem .yelpCount {
  float: left;
}


.doctorItem .yelpText {
  float: right;
}*/





















